/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* === CODE ==== */

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.11),
    0px 1.1px 1.2px -2.5px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-medium:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.15),
    0.1px 5.5px 6.1px -2.5px hsl(var(--shadow-color) / 0.15);
  --shadow-elevation-high:
    0px 0.3px 0.3px hsl(var(--shadow-color) / 0.19),
    0.1px 5.2px 5.8px -1.3px hsl(var(--shadow-color) / 0.19),
    0.2px 22.8px 25.5px -2.5px hsl(var(--shadow-color) / 0.18);
}

body {
  font-family: sans-serif;
}

.layout {
  display: grid;
  grid-template: auto 1fr / max-content 1fr;

  & > * {
    padding: 5px;
  }

}

header {


  box-shadow: var(--shadow-elevation-medium);
  z-index: 1;
}

.content {
    background-color: lightgray;
}

.sidebar {
    background-color: blue;
    color: white;
    height: 100vh;
    grid-row: 1 / -1;
}

/* HEADER */

.primary-header {
  display: flex;
  justify-content: space-between;
}

.secondary-header {
  display: flex;
  justify-content: space-between;
}

/* SIDEBAR */

.sidebar li {
  list-style: none;
  & img {
    
  }
}

.nav-links {
  margin-top: 2rem;
}

/* CONTENT */

.card-container {

}

.card {
  padding: 10px;

  background-color: white;
  box-shadow: var(--shadow-elevation-medium);
}

.sub-container{
  background-color: white;
}

.announcements {

}

.trending {
  
}

.announce-event {

}

.trend-event {

}